*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.h{
    font-size: 25px;
    color: black;
    margin-left: 130px;
    margin-top: 100px;
}

.menu{
    margin-left: 350px;
    margin-top: 23px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.q{
    background-color: darkgray;
}

.T{
    padding-top: 300px;
    margin-top: 300px;
}

.P{
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.login{
    margin-left: 250px;
    margin-top: 100px;
}

.Ca{
    margin-left: 300px;
    font-size: 27px;
    color: black;
    margin-top: 100px;
}

.F{
    margin-left: 320px ;
    border-radius: 30px;
    border: 5px;
    padding: 14px, 10px;
}

#A{
    background: none;
}

#p{
    margin-top: 150px;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background: #E3E6F3;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.06);

}
.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: white;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px, 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    margin-left: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

.Fo{
    margin-top: 50px;
    background-color: #fff;
    box-shadow: -3px 6px 4px #222;
}

.Fo input{
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
}

.Fo button{
    width: 50px;
    height: 40px;
    border: none;
    background: teal;
    color: white;
    outline: none;
    cursor: pointer;
}

.container{
    margin-top: 0px;
  }
  
  ul{
    list-style: none;
    width: 500px;
  }
  ul li{
    width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow: -3px 6px 4px #222;
  }
  
  ul li span{
    position:absolute;
    top :0;
    right: 0;
    width: 50px;
    text-align: center;
    background: #e00;
  }












